* {
  margin: 0;
  padding: 0;
}

.register,
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://source.unsplash.com/1366x768/?night);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.details {
  width: 400px;
  height: max-content;
  min-height: 350px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: rgba(46, 16, 5, 0.476);
  padding: 40px 10px 10px 10px;
  backdrop-filter: blur(2px);
  box-shadow: inset 12px 12px 12px rgba(29, 27, 27, 0.363),
    inset -12px -12px 12px rgba(46, 16, 5, 0.389);
  transition: 0.3s ease-in-out;
}

.details h2,
h1 {
  color: #cdbaa1;
  text-align: center;
}

.details input {
  width: 70%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  margin-top: 20px;
  margin-left: 40px;
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 3px solid #d7cabb;
  color: #d7cabb;
  font-size: 16px;
  caret-color: white;
  caret-shape: block;
}
.page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.not-found {
  width: 150px;
  padding: 10px;
  background-color: #cdbaa1;
  color: #413329;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.eye {
  font-size: 30px;
  color: #ede5db;
  position: absolute;
  top: 51%;
  left: 78%;
}

.regis {
  top: 58%;
}

.error {
  font-size: 16px;
  background-color: #da39279b;
  color: #d7cabb;
  padding: 5px 10px;
  /* margin-top: 20px; */
  font-weight: 600;
  margin-left: 40px;
  border-radius: 12px;
  position: absolute;
  top: 63%;
  animation: shake 0.5s;
}

.reg {
  top: 69%;
  margin-left: 20px;
}

.details button {
  width: 80%;
  padding: 15px;
  background-color: #ecd592;
  color: #413029;
  margin-left: 40px;
  margin-top: 80px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.details button:hover {
  color: #ecd592;
  background-color: #413029;
}

.details div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d7cabb;
  font-size: 16px;
  margin-left: 40px;
  padding: 15px 10px;
}

.details div a {
  text-decoration: none;
  color: #d7cabb;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}

.details div a:hover {
  color: #ecd592;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

::placeholder {
  color: #ecd592;
  font-size: 16px;
  font-weight: 600;
}

.navbar {
  width: 15%;
  height: 100%;
  background-color: #ecd592;
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  backdrop-filter: blur(5px);
  padding-left: 20px;
  box-shadow: 1px 1px 2px 2px #413029, -1px -1px 2px 2px #413029;
}

.logo {
  color: #413029;
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.logo:hover {
  color: #a23a0d;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(./assets/authBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid #413029;
}

.profile p {
  font-size: 22px;
  color: #413029;
  font-weight: 600;
  margin-left: 20px;
}

.links {
  margin-left: 10%;
  display: flex;

  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  font-size: 26px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #413029;
  margin-top: 15px;
  font-weight: 800;
  transition: 0.2s ease-in-out;
}

.links a:hover {
  color: #963810;
}
.links .active {
  color: #cdbaa1;
}
.links .active:hover {
  color: #ecd592;
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  background: url(https://source.unsplash.com/1366x768/?night);
  /* background: #413029; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* padding-top: 20px; */
  position: relative;
}

.home h1 {
  color: #cdbaa1;
  /* background-color: #07070773; */
  padding: 5px 10px;
  border-radius: 7px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  height: 100%;
}

.logout {
  width: 150px;
  padding: 10px;
  /* border: 2px solid #ecd592; */
  color: #413029;
  margin-left: 20px;
  /* margin-top: 40px; */
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
.logout:hover {
  background-color: #cdbaa1;
}

.active {
  background-color: #963810;
  width: max-content;
  color: #cdbaa1;
  border-radius: 12px;
  padding: 0 4px;
}
.dashboard {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.overview,
.transactions {
  margin-bottom: 20px;
}

.transactions ul {
  padding: 0;
}

.transactions li {
  list-style: none;
  margin-bottom: 10px;
}

.overview,
.transactions h2 {
  color: #ecd592;
}

.profile-page {
  width: 85%;
  height: 100vh;
}
.income {
  width: 85%;
  height: 100vh;
}
.expenses {
  width: 85%;
  height: 100vh;
}

/* LOADER START */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: #413029;
}

.bar {
  display: inline-block;
  width: 4px;
  height: 30px;
  background-color: #cdbaa1;
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 60px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #413029;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
/* LOADER END */
